@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;700&display=swap");

body {
  /* background: #eef1f3; */
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
.flash-screen {
  position: fixed;
  z-index: 20;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.gifLogo {
  width: 100px;
  /* margin-bottom: 150px; */
}

.loader--text {
  margin: 20px auto;
}
.loader--text:after {
  content: "";
  /* animation-name: loading-text; */
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loading-text {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.progress-bar {
  width: 250px;
  height: 3px;
  background-color: #eef1f3;
  border-radius: 5px;
}

.progress {
  background-color: #8952FF;
  animation: progress;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

.navbar {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e0e5ed;
}
.nav-content {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo img {
  height: 40px;
  width: auto;
}

.btn-group  {
  display: flex;
  flex-direction: row;
  
}
.sign-btn {
  height: 40px;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}

.sign-btn.get-started {
  border: 2px solid #8952FF;
  background-color: #8952FF;
  color: white;

  height: 50px;
}

.sign-btn.get-started:hover {
  /* border-radius: 5px; */
  background-color: white;
  color: #8952FF;
}

.btn-full {
  color: white;
  background-color: #8952FF;
  border: 2px solid #8952FF;
  height: 40px;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 500;
  border-radius: 8px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-full:hover{
  background-color: white;
  color: #8952FF;
}

.btn-border {
  background-color: white;
  color: #8952FF;
  border: 2px solid #8952FF;
  border-radius: 8px;
  height: 40px;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 500;
}

.btn-border:hover{
  background-color: #8952FF;
  color: white;
}

.showcase {
  width: 100%;
  min-height: 400px;
  padding: 30px;
  /* background-color: #e0e5ed; */
  background-color: #e8eff9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-content {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.showcase-content .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.showcase-content .left h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

.showcase-content .left h1 em {
  color: #8952FF;
  font-size: 2.8rem;
}

.showcase-content .left p {
  margin: 20px 0;
}

.showcase-content .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.showcase-content .right img {
  height: 300px;
  /* margin: auto; */
}

.features {
  width: 90%;
  margin: 50px auto;
}

.features h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

/* .features .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
} */
.feature-wrapper {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 10px;
  /* align-self: stretch; */
}

.feature-wrapper i {
  color: #8952FF;
  font-size: 2rem;
}

.features-content {
  margin-top: 15px;
}

.features-content h3 {
  color: rgb(109, 95, 95);
  font-weight: 600;
  font-size: 1.2rem;
}

.features-content p {
  margin-top: 5px;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

footer {
  border-top: 1px solid #e0e5ed;
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 30px;
  color: gray;
}

.site-content {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .showcase-content .left p {
    margin: 10px 0;
  }
}
@media screen and (max-width: 992px) {
  .showcase-content {
    width: 95%;
  }

  .showcase {
    padding: 15px;
  }

  .showcase-content .right img {
    height: 250px;
    /* margin: auto; */
  }
}
@media screen and (max-width: 767px) {
  .nav-content {
    width: 95%;
  }

  .showcase-content .left p {
    text-align: center;
  }
  .showcase-content .left h1 {
    text-align: center;
  }

  .showcase-content .left {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .showcase-content .right {
    justify-content: center;
    margin-top: 15px;
  }
}

@media screen and (max-width: 475px) {
  .nav-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  nav.navbar {
    padding: 8px;
  }
  .logo img {
    height: 30px;
  }
  .menu .sign-btn {
    margin-left: 3px;
    font-size: 0.8rem;
    padding: 0 15px;
  }

  .showcase-content .right img {
    height: 200px;
    /* margin: auto; */
  }

  .showcase-content {
    width: 100%;
  }

  footer {
    height: 60px;
    padding: 5px;
    font-size: 0.75rem;
  }
}
 